In [1]:
import pandas as pd
import numpy as np
import sys, json, os

In [2]:
val=pd.read_json("val.json", encoding = 'utf-8')
result=pd.read_json("results.json", encoding ='utf-8')

In [3]:
def check_h(val, result, n=5):
    print(val.head(n))
    print(result.head(n))
    print("val",val.shape)
    print("result",result.shape)
def check_t(val, result, n=5):
    print(val.tail(n))
    print(result.tail(n))
    print("val",val.shape)
    print("result",result.shape)

In [4]:
check_h(val, result)

       id  like_cnt plylst_title  \
0  118598      1675
1  131447         1       앨리스테이블
2   51464        62
3   45144        20
4   79929        20

                                               songs tags  \
0  [373313, 151080, 275346, 696876, 165237, 52593...   []
1                                                 []   []
2  [529437, 516103, 360067, 705713, 226062, 37089...   []
3  [589668, 21711, 570151, 320043, 13930, 599327,...   []
4  [672718, 121924, 102694, 683657, 201558, 38511...   []

                 updt_date
0  2019-05-27 14:14:33.000
1  2014-07-16 15:24:24.000
2  2008-06-21 23:26:22.000
3  2017-10-30 18:15:43.000
4  2017-02-07 11:40:42.000
       id                                              songs  \
0  118598  [207912, 623047, 422438, 703323, 638488, 32221...
1  131447  [16382, 278524, 196599, 442352, 704484, 589785...
2   51464  [456474, 533739, 680911, 596279, 425043, 45750...
3   45144  [144663, 367963, 174749, 377243, 7070, 64052, ...
4   79929  [211220, 412769, 445299, 106129, 70314, 242124...

                                                tags
0  [잔잔한, 어머니, 아버지, 아빠, 힘들때, 가족, 위로받고싶을때, 발라드, 락, ...
1  [잔잔한, 어머니, 아버지, 아빠, 힘들때, 가족, 위로받고싶을때, 발라드, 락, ...
2  [잔잔한, 어머니, 아버지, 아빠, 힘들때, 가족, 위로받고싶을때, 발라드, 락, ...
3  [잔잔한, 어머니, 아버지, 아빠, 힘들때, 가족, 위로받고싶을때, 발라드, 락, ...
4  [잔잔한, 어머니, 아버지, 아빠, 힘들때, 가족, 위로받고싶을때, 발라드, 락, ...
val (23015, 6)
result (23015, 3)

In [5]:
val_map=val[["id","songs"]]
result_map=result[["id","songs"]]

In [6]:
check_h(val_map, result_map)

       id                                              songs
0  118598  [373313, 151080, 275346, 696876, 165237, 52593...
1  131447                                                 []
2   51464  [529437, 516103, 360067, 705713, 226062, 37089...
3   45144  [589668, 21711, 570151, 320043, 13930, 599327,...
4   79929  [672718, 121924, 102694, 683657, 201558, 38511...
       id                                              songs
0  118598  [207912, 623047, 422438, 703323, 638488, 32221...
1  131447  [16382, 278524, 196599, 442352, 704484, 589785...
2   51464  [456474, 533739, 680911, 596279, 425043, 45750...
3   45144  [144663, 367963, 174749, 377243, 7070, 64052, ...
4   79929  [211220, 412769, 445299, 106129, 70314, 242124...
val (23015, 2)
result (23015, 2)

In [7]:
val_map_unnest = np.dstack(
    (
        np.repeat(val_map.id.values, list(map(len, val_map.songs))),
        np.concatenate(val_map.songs.values)
    )
)
val_map_pre= pd.DataFrame(data = val_map_unnest[0], columns = val_map.columns)
del val_map_unnest
val_map_len = val_map_pre.groupby('id').songs.nunique().reset_index(name='len_val')
val_map_song= val_map_pre.groupby('songs').id.nunique().reset_index(name="song_val_n")
val_map_len=val_map_len.astype(int)
val_map_song=val_map_song.astype(int)

In [8]:
result_map_unnest = np.dstack(
    (
        np.repeat(result_map.id.values, list(map(len, result_map.songs))),
        np.concatenate(result_map.songs.values)
    )
)
result_map_len= pd.DataFrame(data = result_map_unnest[0], columns = result_map.columns)
del result_map_unnest
result_map_len = result_map_len.groupby('id').songs.nunique().reset_index(name='len_result')
result_map_len=result_map_len.astype(int)

In [9]:
check_h(val_map_len, result_map_len)

   id  len_val
0   3       66
1  10       22
2  18       23
3  23       14
4  28      100
   id  len_result
0   3         100
1  10         100
2  18         100
3  22         100
4  23         100
val (18636, 2)
result (23015, 2)

In [10]:
result_err=result_map_len[result_map_len["len_result"] <100]
result_err.shape

(88, 2)

In [11]:
err_merge = pd.merge(result_err, val_map_len)

In [12]:
err=pd.merge(err_merge, val_map)

In [13]:
err

,id,len_result,len_val,songs
0,490,7,5,"[381653, 566122, 158539, 261549, 368705]"
1,3991,6,5,"[405485, 381653, 144239, 261549, 343146]"
2,6114,93,42,"[626369, 653601, 105140, 418905, 38261, 199262..."
3,7857,66,38,"[38261, 199262, 396828, 487911, 448116, 341513..."
4,8610,70,37,"[570836, 209135, 105140, 199262, 422915, 54796..."
5,8912,7,5,"[381653, 566122, 261549, 368705, 343146]"
6,10658,92,37,"[266761, 621927, 464821, 264957, 669557, 15464..."
7,11670,6,5,"[405485, 566122, 158539, 686976, 368705]"
8,14962,19,5,"[405485, 381653, 546313, 368705, 343146]"
9,15142,6,5,"[405485, 566122, 686976, 144239, 261549]"
10,15666,65,37,"[407579, 501003, 627466, 38236, 610551, 215411..."
11,18139,7,5,"[405485, 381653, 566122, 368705, 343146]"
12,19407,5,5,"[405485, 158539, 261549, 368705, 343146]"
13,23966,67,38,"[570836, 105140, 509998, 547967, 422077, 15318..."
14,28181,6,5,"[405485, 381653, 566122, 686976, 144239]"
15,29062,74,37,"[105140, 349492, 487911, 422077, 448116, 48515..."
16,30406,7,5,"[381653, 566122, 546313, 144239, 261549]"
17,32970,7,5,"[405485, 381653, 566122, 546313, 343146]"
18,35938,19,5,"[405485, 381653, 546313, 686976, 368705]"
19,35940,73,38,"[570836, 199262, 422915, 547967, 487911, 15318..."
20,36935,71,38,"[209135, 389920, 105140, 582252, 396828, 44201..."
21,38265,75,37,"[209135, 389920, 105140, 38261, 396828, 509998..."
22,38310,19,5,"[405485, 546313, 158539, 144239, 343146]"
23,45726,76,37,"[209135, 389920, 199262, 509998, 442014, 48791..."
24,48512,65,38,"[570836, 209135, 389920, 582252, 38261, 509998..."
25,48611,19,5,"[405485, 381653, 546313, 686976, 343146]"
26,51537,93,37,"[353753, 448783, 463108, 166841, 479284, 19811..."
27,53754,69,39,"[389920, 582252, 38261, 199262, 396828, 349492..."
28,56183,84,37,"[570836, 582252, 38261, 509998, 442014, 422077..."
29,56748,60,38,"[389920, 105140, 38261, 509998, 442014, 349492..."
...,...,...,...,...
58,106821,71,37,"[648628, 427724, 350309, 628232, 580659, 65622..."
59,108349,6,5,"[381653, 566122, 158539, 144239, 261549]"
60,108920,79,40,"[570836, 209135, 389920, 199262, 442014, 34949..."
61,109942,72,36,"[209135, 105140, 582252, 199262, 509998, 34949..."
62,112450,75,38,"[570836, 389920, 105140, 582252, 199262, 50999..."
63,113050,7,5,"[405485, 381653, 686976, 368705, 343146]"
64,114054,19,5,"[546313, 158539, 144239, 261549, 343146]"
65,114069,6,5,"[405485, 566122, 686976, 144239, 343146]"
66,114539,7,5,"[405485, 566122, 158539, 368705, 343146]"
67,117044,54,38,"[389920, 396828, 509998, 422915, 547967, 15318..."
68,120521,19,5,"[405485, 546313, 158539, 686976, 261549]"
69,121384,73,38,"[209135, 582252, 38261, 199262, 396828, 509998..."
70,123226,78,41,"[570836, 209135, 38261, 396828, 422077, 15318,..."
71,124419,7,5,"[566122, 546313, 158539, 261549, 343146]"
72,125107,87,36,"[570836, 389920, 199262, 396828, 442014, 54796..."
73,128851,6,5,"[405485, 566122, 144239, 261549, 368705]"
74,130652,6,5,"[405485, 566122, 686976, 368705, 343146]"
75,130803,19,5,"[405485, 381653, 546313, 158539, 343146]"
76,134886,62,38,"[362903, 479284, 323611, 19811, 222920, 501003..."
77,134982,7,5,"[405485, 381653, 566122, 158539, 368705]"
78,135164,6,5,"[381653, 686976, 144239, 368705, 343146]"
79,135942,57,37,"[389920, 582252, 396828, 442014, 349492, 42291..."
80,137853,71,38,"[209135, 38261, 199262, 396828, 509998, 349492..."
81,141781,63,41,"[209135, 582252, 38261, 199262, 442014, 547967..."
82,142099,58,38,"[570836, 389920, 105140, 582252, 349492, 42291..."
83,146807,82,37,"[209135, 396828, 422915, 547967, 422077, 42155..."
84,149533,6,5,"[381653, 158539, 686976, 144239, 368705]"
85,149797,71,39,"[209135, 582252, 199262, 509998, 442014, 34949..."
86,151421,19,5,"[405485, 546313, 158539, 144239, 368705]"
87,152669,85,39,"[626369, 366786, 413837, 209135, 492060, 58225..."

In [22]:
err.to_json("err.json")

In [14]:
err_map =  err[["id","songs"]]
err_map_unnest =  np.dstack(( np.repeat(err.id.values, list(map(len, err.songs))),
                             np.concatenate(err.songs.values)
                            ))
err_map_song =  pd.DataFrame(err_map_unnest[0], columns= err_map.columns)
del err_map_unnest

In [15]:
err_map_song =  err_map_song.groupby("songs").id.nunique().reset_index(name="song_err_n")

In [16]:
err_map_song

      songs  song_err_n
0     13281           1
1     15318          21
2     19436           1
3     19811          23
4     31344          17
5     32443           5
6     37748           1
7     38236          15
8     38261          19
9     39457           1
10    41912          17
11    42155          21
12    43145           2
13    43874           1
14    49385          17
15    65506           2
16    65622          17
17    68348          14
18    70549          21
19    77509          20
20    82675           1
21    87722           1
22   101691           1
23   104786           2
24   104990           1
25   105140          20
26   106034           8
27   106576           3
28   108004          17
29   111059           1
..      ...         ...
118  566122          22
119  570836          18
120  579511           1
121  580659          14
122  582252          19
123  588879           1
124  597909           1
125  610551          17
126  612940           1
127  621927          21
128  625314           1
129  626369           2
130  627466          15
131  628232          17
132  630152          18
133  646241           1
134  647284           1
135  648628          24
136  651723          19
137  653601           1
138  656660           1
139  668128          22
140  669557          20
141  674160          15
142  678762          24
143  680366          18
144  686976          21
145  690604          13
146  692782           1
147  703096          17

[148 rows x 2 columns]

In [17]:
err_map_song[err_map_song["song_err_n"] > 20]

      songs  song_err_n
1     15318          21
3     19811          23
11    42155          21
18    70549          21
39   157055          22
41   166841          22
43   187047          28
46   209135          23
47   209993          24
50   222920          21
51   235773          23
56   264957          23
57   266761          29
58   267701          21
62   322721          23
63   323611          22
66   341513          23
68   343146          25
69   349492          22
70   350309          24
77   368705          24
79   381653          24
82   405485          33
90   427724          24
97   463173          22
98   464821          26
100  476773          21
101  479284          21
103  487911          21
110  520093          21
112  523521          25
115  546313          22
118  566122          22
127  621927          21
135  648628          24
139  668128          22
142  678762          24
144  686976          21

In [18]:
pd.merge(err_map_song, val_map_song)

      songs  song_err_n  song_val_n
0     13281           1         127
1     15318          21         106
2     19436           1           3
3     19811          23          73
4     31344          17          56
5     32443           5          19
6     37748           1          98
7     38236          15          32
8     38261          19          94
9     39457           1           3
10    41912          17          64
11    42155          21         132
12    43145           2          20
13    43874           1           6
14    49385          17          29
15    65506           2          27
16    65622          17          71
17    68348          14         115
18    70549          21          44
19    77509          20          37
20    82675           1           8
21    87722           1          18
22   101691           1          14
23   104786           2          11
24   104990           1           1
25   105140          20         116
26   106034           8          36
27   106576           3           4
28   108004          17          99
29   111059           1           5
..      ...         ...         ...
118  566122          22          23
119  570836          18          45
120  579511           1          27
121  580659          14          45
122  582252          19         118
123  588879           1           5
124  597909           1           7
125  610551          17          40
126  612940           1           7
127  621927          21          49
128  625314           1           5
129  626369           2          70
130  627466          15          31
131  628232          17          82
132  630152          18          38
133  646241           1           8
134  647284           1          12
135  648628          24         110
136  651723          19          44
137  653601           1           3
138  656660           1           4
139  668128          22         119
140  669557          20          70
141  674160          15          84
142  678762          24         108
143  680366          18         118
144  686976          21          21
145  690604          13          93
146  692782           1          12
147  703096          17          65

[148 rows x 3 columns]

In [19]:
songmeta = pd.read_json("song_meta.json", encoding = "utf-8")

In [20]:
songmeta[songmeta["id"]==668128]

,album_id,album_name,artist_id_basket,artist_name_basket,id,issue_date,song_gn_dtl_gnr_basket,song_gn_gnr_basket,song_name
668128,10142592,사랑이 그리워,[247893],[태인],668128,20180227,"[GN0105, GN0101]",[GN0100],사랑이 그리워